<!DOCTYPE html>

<html>
    <head>
        <title>Tentang</title>
        <link rel="icon" href="/img/weather-icon.png">
        <link rel="stylesheet" href="/css/style.css">
 
    </head>
    <body>
        {{>header}}
        <div class="main-content-tentang">
            <img class="portrait" src="/img/maulbih.jpg" alt="Profil Foto">
            <table>
                <tr>
                    <th>Nama</th>
                    <td>maulana Hafizul Haq</td>
                </tr>
                <tr>
                    <th>Alamat</th>
                    <td>Komp.Melati Gunung Sari III Blok H/7</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>maulanahafizulhaq6@gmail.com</td>
                </tr>
                <tr>
                    <th>Universitas</th>
                    <td>Universitas Negri Padang</td>
                </tr>
                <tr>
                    <th>Asal Sekolah</th>
                    <td>Man 1 Negri Padang</td>
                </tr>
                <tr>
                    <th>CV</th>
                    <td>Pernah Mengikuti Pelatihan Untuk Mendapatkan Sertifikat MTCNA</td>
                </tr>
               
            </table>
       
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
    
</html>

