<header>
    <header>
    
        <div class="Container">
          <nav class="wrapper">
            <div class="title"></div>
            <div class="namadepan" >Aplikasi Cek Cuaca</div>
           
            <ul class="navigation">
              <li>
                <a href="/" class="aktif">home</a>
              </li>
              <li>
                  <a href="/berita" class="aktif">Berita</a>
                </li>
                <li>
                    <a href="/bantuan" class="aktif">bantuan</a>
                  </li>
                <li>
                  <a href="/tentang" class="aktif">Tentang</a>
                </li>
              <li>
                <img src="../img/pdi.gif" alt="..."/>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      